.navbar {
  background-color: #333;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1300px;
}

.navbarLogo {
  width: 250px;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.navbarLogo .sitelogo{
  width: 60px;
  height: 60px;
  border-radius: 8px;
}

.navMenu {
  display: flex;
  list-style: none;
  text-align: center;
  margin: 0;
  justify-content: space-between;
  gap: 50px;
  padding: 0;
}



.navItem {
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.navLinks {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 0px 8px;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
  font-size: 1.05rem;
}

.navLinks:hover {
  transform: scale(1.05);
  color: black;
  border: 2px solid #f8f8f8;
  background-color: white;
}

@media only screen and (max-width: 475px){
  .navbarLogo {
    width: 200px;
    font-size: 1rem;
    gap:4px;
  }
  .navLinks {
    font-size: 0.95rem;
  }
}