/* src/components/Navbar.module.css */
.navbar {
  background-color: #333;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.navbarLogo {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

.navMenu {
  display: flex;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.navItem {
  height: 80px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.navLinks {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 150px;
  padding: 0px 8px;
  border-radius: 20px;
  transition: 0.2s ease-in-out;
  font-size: 1.05rem;
}

.navLinks:hover {
  transform: scale(1.05);
  color: black;
  border: 2px solid #f8f8f8;
  background-color: white;
}
